/* Universal Styles */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font: inherit;
  vertical-align: baseline;
  color: #424242;
  width: 100%;
  font-family: benton-sans, sans-serif;
}

.video {
  
}
#proto_playtest {
  font-style: normal;
}

a {
  text-decoration: none;
}
label {
  display: block;
  cursor: pointer;
  margin: 0 1rem 0 0;
  font-size: 2rem;
  line-height: 2.5em;
  float: right;
}
.art-container {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.cross {
  display: none;
}

#toggle {
  display: none;
}

.menu {
  display: none;
  clear: right;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
}

.menu a {
  display: block;
  text-decoration: none;
  margin: 0;
  font-size: 1.3rem;
  line-height: 2em;
}

#toggle:checked + .menu {
  display: block; 
} 

.nav {
  width: 100%;
  position: fixed;
  z-index: 3;
}

.hollypark {
  padding-left: 20px;
  font-weight: 300;
}
.sidenav {
  display: none;
}

.about {
  z-index: 1;
  min-height: 420px;
  padding-top: 100px;
  text-align: center;
}

#work {
  width: 100%;
  text-align: center;
}

.case-container {
  display: block;
  width: 100%;
  overflow: hidden;
  vertical-align: top;

}

#intro-container {
  text-align: center;
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%
  height: 75%;
}

#intro-content {
  max-width: 70%;
  text-align: left;
  display: inline-block;
}

#intro-content h1 {
  padding: 0;
  margin-bottom: 0;
}

#navlist {
    list-style-position: inside;
    list-style-type: none;
    display: inline-block;
    float: right;
    padding-right: 30px;
    padding-bottom: 20px;
}

.activePage {
  color: #653ade;
}

.navitem, .footerelem a, a:link {
  color: #424242;
  text-decoration: none;
}

.navitem, .footerelem a, a:visited {
  color: #424242;
  text-decoration: none;
}

.navitem, .footerelem a, a:hover {
  color: #653ade;
  text-decoration: none;
}

.navitem, .footerelem a, a:active {
    color: #424242;
    text-decoration: none;
}

/* for individual case study pages */
.casestudy-container {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.casestudy-content {
  max-width: 100%;
  display: inline-block;
  text-align: left;
}
/* ****************************** */

.img-container {
  height: auto;
  overflow: hidden;
  display: block;
  text-align: center;
}

.img-container img {
  width: 100%;
  height: auto;
  display: inline-block;
}

/* specific image containers in case studies */
#journey-container img{
  display: inline-block;
  max-width: 45%;
  height: auto;
  margin: 15px;
}

#brainstorm-container img {
  display: inline-block;
  max-width: 45%;
  height: auto;
  margin: 10px;
  vertical-align: middle;
}

#resume-img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 5px solid #b0e0e6;
}

#regent-square-imgs, .rs-sub-img-container {
  text-align: center;
  display: inline-block;
}

.rs-sub-img-container {
  margin-bottom: 20px;
}

.rs-sub-img-container img {
  display: block;
  width: 100%;
}

/* * *   FOOTER STYLES   * * */

footer {
  max-width: 100%;
  height: 200px;
  text-align: center;
  margin-top: 100px;
}

#footerlist {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}


footer p {
  text-align: center;
  color: #636363;
}

#backtotop {
  color: #653ade;
  font-weight: bold;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    font-size: 1em;
  }
  #intro-container {
    text-align: left;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  #intro-content {

  }
  .case-container {
    display: inline-block;
    width: 46%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .sidenav {
  display: none;
}
.casestudy-container {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

.casestudy-content {
  width: 100%;
  display: inline-block;
  text-align: left;
}
}

/* * * * * * * * DESKTOP STYLES * * * * * * * */

@media only screen and (min-width: 991px) {
  body {
    font-size: 1rem;
    line-height: 1.5;
  }

  .no-italics {
      font-style: normal;  
      float: none; 
  }

  .hollypark {
    padding-left: 35px;
  }

  #intro-container {
    margin-top: 45px;
    text-align: center;
    padding-bottom: 30px;
  }
  #intro-content {
    text-align: left;
    display: inline-block;
    max-width: 500px;
    padding-left: 70px;
    vertical-align: middle;
    margin-bottom: 70px;
  }
  .nav {
    position: fixed;
    width: 100%;
    height: 70px;
    line-height: 70px; /* center everything vertically??*/
  }

  .menu {
    float: right;
    width: auto;
    display: block;
    margin: 0 30px 0 0; /*top right bottom left*/

  }

  .menu a {
    font-size: 1rem;
    display: inline-block;
    margin: 0 7px; /*top&bottom, left&right*/
    line-height: 70px; /*so that when both icons are hidden it will be centered up?? */
  }

  label {
    display: none;
  }

  .cross {
    display: none;
  }

  .art-container {
    padding-top: 130px;

  }
  .art-container .img-container {
    display: inline-block;
    width: 30%;
    height: auto;
  }
  .case-container {
    display: inline-block;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .casestudy-content {
    position: relative;
    left: 60px;
    max-width: 800px;
  }

/* Fixed sidenav, full height */
  .sidenav {
    display: inline-block;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 150px;
  }

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 3px 5px 3px 16px;
    text-decoration: none;
    font-size: 1em;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: green;
  }

  i {
    font-style: normal;
    color: #424242;
  }

  /* Dropdown container (hidden by default) */
  .dropdown-container {
    display: none;
    background-color: #f7f7f7;
    padding-left: 10px;
    font-size: 0.8rem;
  }
}

